/* Michael Metsker, 8/7/2025, CS125H - Final Term Project css */

/* custom property */
:root {
    --veryLightGrey: #c5c5c5;
    --lightGrey: #7c7c7c;
    --darkGrey: #504d4d;
    --almostBlack: #101010;
    --darkBlue: #0f0162;
}
* {
  margin: 0;
  padding: 0;
}
body {
    font-size: 100%;
    background-color: var(--lightGrey);
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

/* Generic anchor pseudo-classes */
a:link {
    color: var(--veryLightGrey);
    text-decoration: none;
}
a:visited {
    color: var(--lightGrey);
}
a:hover, a:focus {
    font-size: larger;
}

/* Plain element and combo plain element selectors go here */
h1, h2{
    text-align: center;
    margin: .5em 0;
}
p {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: .8em
}
hr {
    width: 100%
}

/* Styles for header */
header {
    padding: 1em 0;
}
header h1 {
    text-shadow: 1px 2px 1px white;
    letter-spacing: .5em;
    font-variant: small-caps;
}
header img {
    height: 20em;
    display: block;
    margin: 0 auto;
}
section, article, nav {
    box-shadow: 12px 7px 10px 4px var(--almostBlack);
    border: 2px solid var(--almostBlack);
    padding: 1em;
    margin: 1em 0;
}

/* styles for the nav bar */
nav ul {
  	list-style: none;
  	display: flex;
    justify-content: center;
}
nav ul li {
  	margin-right: 5em;
}
nav ul li:last-of-type {
	margin-right: 0;
}
nav ul li a:link {
  	color: #fff;
  	font-weight: bold;
  	transition: color 0.3s ease-in-out;
}
nav ul li a:visited {
    color: black;
}
/* Styles for main */
main {
    color: var(--veryLightGrey);
}
/* Styles for sections nested in main */
section {
    background-color: var(--darkGrey);
}
section h2 {
    color:white;
    text-shadow: -2px -2px var(--almostBlack);
}
section img {
    display: block;
    margin: 1em auto;
    height: 10em;
}
section h2 + img:last-of-type {
    float:right;
}
section h3 {
    clear: both;
}
section ul {
    list-style-type: none;
    text-align: center;
    padding: 1em;
}
section ul li {
    display: inline-block;
    margin-right: 1em;
}
section ul li:last-of-type {
    font-size: 1.2em;
}
/*styles for article nested in main */
article {
    background-color: var(--veryLightGrey);
    color: var(--almostBlack);
    padding: 1em;
}
article h2 + p {
    text-align: center;
}
article h3 ~ p {
    font-size: .7em;
}
article p a:link {
    color: var(--darkBlue);
    margin: .3em 0;
}

/* styles for the gallery page */
section#gallery {
    overflow: hidden;
}
#gallery article {
    float: left;
    width: 48%;
    margin: 1%;
    background-color: var(--veryLightGrey);
    box-sizing: border-box;
    box-shadow: 4px 4px 8px var(--almostBlack);
    min-height: 20em;
}
#gallery figure{
    width: 100%;
}
#gallery figure img {
    width: 12em;
    border: 2px solid var(--almostBlack);
}
#gallery figcaption {
    padding-top: .3em;
    font-size: .8em;
}

/* syles for footer sibling to main */
footer {
    margin-top: 1em;
    clear: left;
}
footer p {
    color: White;
    font-size: .8em;
    text-align: center;
}