/* google api font */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* { /* for debugging 
    border: 1px solid red;
    */
}

body {
    /* modern browsers no longer support animated cursors so I have to use javascript for anything more than this*/
    cursor: url(../cursors/gun.cur), auto;
    /* 
        second misaligned layer of background images for further jank
        should only be visible on 4k moniters with low scaling or when zooming far out 
    */
    background-image: url('/images/cave-background.png');
    background-repeat: repeat;

    color: yellow;
    font-family: 'Comic Sans MS', 'Comic Sans', 'Comic Neue', 'Chalkboard', cursive;
    text-align: center;
    
}

/* makes the left of the background image align with the sidebar*/
#mainContentWrapper {
    margin-left: 20%;
    background-image: url('/images/cave-background.png');
    background-repeat: round;        /* Distorts background based on zoom */
}

aside {

    color: white;
    position: fixed;
    width: 20%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: auto;
    font-size: small;
}

html body, p{
    margin: 0;
    padding: 0;
}

/* moving banner at the top of the page */
#banner {
    max-width: 90%;
}
#bannerBox {
    display: flex;
}
#bannerBox img {
  height: 1em;         /* match the font size height */
  flex-shrink: 0;      /* prevent images from shrinking */
  vertical-align: middle;
}


.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}